@{
    ViewData["Title"] = "Dashboard";
}
<!DOCTYPE html>
<html5 lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] -  dashboard</title>
        <!-- Google Font: Source Sans Pro -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <!-- Font Awesome -->
        <!-- Theme style -->
        <link href="~/theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    </head>
    <div class="row">
        <div class="col-2 justify-content-start">
            <ul class="list-group">
                <li class="list-group-item"><a asp-controller="Dash" asp-action="AddCategory">Add Category</a></li>
                <li class="list-group-item"><a asp-controller="Dash" asp-action="AddComputer">Add Computer</a></li>
                <li class="list-group-item"><a asp-controller="Dash" asp-action="AddCompany">Add Company</a></li>
            </ul>

        </div>
        <div class="col-8">
            <div class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title"><b>DASHBOARD</b></h1>
                    </div>
                </div>
            </div>
            <!-- /.card -->

        </div>
    </div>
</html5>